body {
  background-color: #D9D9D9;
}

svg {
  background-color: white;
}

text {
  text-anchor: middle;
  /*font-size: 12px;*/
}

.parent {
  fill: #078E9D;
  stroke: black;
  stroke-width: 1;
}
.parent:hover {
  stroke: white;
}


.sibling {
  fill: black;
  stroke: black;
  stroke-width: 0;
}
.sibling:hover {
  stroke-width: 1;
  stroke: white;
}


.current {
  fill: black;
  stroke: white;
  stroke-width: 3;
}
.current:hover {

}


.children {
  fill: red;
  stroke: black;
  stroke-width: 0;
}
.children:hover {
  stroke: white;
  stroke-width: 1;
}

